[user]
  name = Jason Sievert
  email = jsievert@gmail.com
[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[init]
	defaultBranch = main
[pull]
	ff = only
	rebase = true
[core]
	excludesfile = /Users/Jason.Sievert/.gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
  syntax-theme = Nord
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[alias]
  # *********************
  # Rebase workflow
  # Pulled from https://softwaredoug.com/blog/2022/11/09/idiot-proof-git-aliases.html
    mainbranch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"
    synced = "!git pull origin $(git mainbranch) --rebase"
    update = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"
    squash = "!git rebase -v -i $(git mainbranch)"
    publish = push origin HEAD --force-with-lease
    pub = publish 
  # ********************
  # My dumbass typos
    ammend = commit --amend 
    amend = commit --amend 
  # *********************
  # Github
  # From - https://salferrarello.com/git-alias-open-pull-request-github/
